<div>
    <span class="glyphicon glyphicon-refresh glyphicon-spin spinner"
        *ngIf="loading"></span>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand">{{pageTitle}}</a>
            <ul class="nav navbar-nav">
                <li [routerLink]="['/welcome']" routerLinkActive="active">
                    <a>Home</a>
                </li>
                <li>
                    <a [routerLink]="['/products']"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact : true }">Product List</a>
                </li>
                <li>
                    <a [routerLink]="['/products', 0, 'edit']"
                        routerLinkActive="active">Add Product</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="authService.isLoggedIn()">
                    <a>Welcome {{ authService.currentUser.userName }}</a>
                </li>
                <li *ngIf="!isMessageVisible">
                    <a (click)="displayMessages()">Show Messages</a>
                </li>
                <li *ngIf="isMessageVisible">
                        <a (click)="hideMessages()">Hide Messages</a>
                    </li>
                <li *ngIf="!authService.isLoggedIn()">
                    <a [routerLink]="['/login']">Log In</a>
                </li>
                <li *ngIf="authService.isLoggedIn()">
                    <a (click)="logOut()">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-2">
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
        
    </div>
</div>